body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(1.jpg);
            height: 100vh;
            background-position: center;
            background-size: cover;
        }
        ul.a {
            list-style-type: none;
            float: right;   
            /* position: fixed; */
        }

        ul.a li {
            display: inline-block;
            
        }
        ul.a li a {
            text-decoration: none;
            color: white;
            padding: 2px 20px;
            border: 1px solid transparent;
            transition: 0.6 ease;
        }
        ul.a li a:hover {
            background-color: white;
            color: black;
        }
        .logo img {
            float: left;
            width: 300px;
            height: auto;
            position: sticky;
            top: 0;
        }
        .main {
            max-width: 1200px;
            margin: auto;
        }

        ul.a li.active a {
            background-color: white;
            color: black;
        }

        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .title h1 {
            font-family: Audiowide,sofia ,cursive;
            text-shadow: 0 0 25px red , 0 0 25px blue;
            color: white;
            padding: auto;
            font-size: 70px;
        }

        .button {
            position: absolute;
            top: 62%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .btn {
            border: 1px solid white;
            padding: 10px 30px;
            color: white;
            text-decoration: none;
            transition: 0.6 ease;
        }

        .btn:hover {
            background-color: white;
            color: black;
        }
        /*   *****************************************************************************   */
        .content{
            /* background-color: gray;   */
            background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(1.jpg);
            background-position: center;
            background-size: cover   ;
            width: 17%;
            height: auto;
            border-radius: 5px;
            position:absolute;
            top: 24%;
            left: 2%;
            color:white ;
            font-size: 25px;
            
        }
        .content h1{
            color: White;
            font-size: 30px;
            font-family: Audiowide,sofia ,cursive;
            text-shadow: 0 0 5px red,0 0 5px blue;
        }
        .content p{
            color:aquamarine;
            font-size:large;
        }
        ul.b{
            list-style-type:none;
            float: left;
            margin-top: -5%
        }
        ul.b li a{
            text-decoration: none;
            color:white;
            border: 5px solid transparent;
            transition: 0.6 ease;   
        }
        ul.b li a:hover {
            background-color: white;
            color: black; }
        .border{
            background-color: black;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 40px;
            position:fixed;
            top:94%;
            color: white;
        }
    